<td><%= (current_user.can_update_tool?(tool)) ? link_to(tool.name, edit_admin_tool_engine_path(tool)) : tool.name %></td>
<td><%= tool.tool_subtype %></td>
<td><%= link_to image('remove', :alt => 'remove page'), admin_tool_path(tool), :method => :delete, :confirm => "Etes-vous sûr de vouloir supprimer cet équipement ?" %></td>