<div style="width:50%;float:left">
<h1>Edition de du moyen de mesure et d'analyse <%= @measuring_engine.name %></h1>
<% form_for([:admin, @measuring_engine]) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p class="buttons">
    <%= submit_tag "Enregistrer", :class => "button" %>
  </p>
<% end %>
</div>
<%= render :partial => "admin/tool_assets/index", :locals => {:tool => @measuring_engine} %>