<h1>Edition d'une photo non diffusable pour l'équipement <%= @tool.name %></h1>
<%= image_tag @asset.asset.url(:thumb) %>
<% form_for([:admin, @tool, @asset], :html => {:multipart => true}) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p class="buttons">
    <%= submit_tag "Enregistrer", :class => "button" %>
  </p>
<% end %>