<h1>Edition du domaine d'application logiciel <%= @application_domain.application_domain  %></h1>
<% semantic_form_for([:admin, @application_domain]) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p class="buttons">
    <%= submit_tag "Enregistrer", :class => "button" %>
  </p>
<% end %>