<td><%= (current_user.can_update_tool?(tool)) ? link_to(tool.name, edit_admin_test_engine_path(tool)) : tool.name %></td>
<td><%= tool.tool_subtype %></td>
<td>
<% if current_user.can_update_tool?(tool) %>
    <%= link_to "Supprimer", admin_test_engine_path(tool), :method => :delete, :confirm => "Etes-vous sûr de vouloir supprimer cet équipement : #{tool.name}  ?", :class => "delete_button" %>
    <%= link_to "Nouveau document", new_admin_test_engine_tool_asset_path(tool), :class => "new_document_button" %>
<% end %>
</td>