<h1>Edition de la machine outil <%= @test_engine.name %></h1>
<% form_for([:admin, @test_engine]) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p class="buttons">
    <%= submit_tag "Enregistrer", :class => "button" %>
  </p>
<% end %>