<div class="outset">
  <table class="index">
    <thead>
      <tr>
        <th>Nom</th>       
        <th>Sous type</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <% @tools.each do |tool| %>
        <tr>           
           <%= render :partial => "show", :locals => {:tool => tool} %>
        </tr>

      <% end %>
    </tbody>
  </table>
</div>




<div id="actions">
  <ul>
    <li><%= link_to "Nouveau moyen d'essai", new_admin_test_engine_path() %></li>
  
  </ul>
</div>

