<div class="outset">
  <table class="index">
    <thead>
      <tr>
        <th>Statut logiciel</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <% @statuses.each do |status| %>
        <tr>
          <td><%= link_to status.name, edit_admin_software_status_path(status) %></td>
          <td><%= link_to image('remove', :alt => 'supprimer')+"Supprimer", admin_software_status_path(status), :method => :delete, :confirm => "Etes-vous sûr de vouloir supprimer ce domaine statut logiciel ?" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="actions">
  <ul>
    <li><%= link_to "Nouveau Statut logiciel", new_admin_software_status_path() %></li>
  </ul>
</div>
