<html>
  <body>
    Bonjour,<br/><br/>
    Votre mot de passe pour accéder à la base de données Equipements des Laboratoires de Génie Civil sur le site du PGCE est désormais : <%=  @password %>.<br />
    Vous souhaitant une bonne navigation sur notre site<br />
    Cordialement<br /><br />
    L'équipe du PGCE
    <br /><br/>
    <img src="http://www.pole-geniecivil-ecoconstruction.fr/images/emails/signature.jpg" />
  </body>
</html>

















