<html>
<head>
  <style type="text/css">
    body {
      font-family: trebuchet MS;
      font-size:12px;
      
    }
  </style>
</head>
<body>
  <div style="width:500px;margin:auto;background-color:#E0F4FF;padding:10px;">
    <a style="text-decoration:none" href="http://donnees-equipement.pole-geniecivil-ecoconstruction.fr/p"><img style="border:none" src="http://donnees-equipement.pole-geniecivil-ecoconstruction.fr/publooic/images/emails/entete_connexion.jpg" /></a>
    Bonjour,
    <br /><br />

    Le P&ocirc;le G&eacute;nie Civil Ecoconstruction (PGCE) <a href="http://www.pole-geniecivil-ecoconstruction.fr/">www.pole-geniecivil-ecoconstruction.fr</a><br />
    vous informe de la mise en ligne d&#145;une base de donn&eacute;es recensant les &eacute;quipements des laboratoires <br />
    de g&eacute;nie civil de la m&eacute;tropole Nantes-Saint-Nazaire <a href="http://donnees-equipement.pole-geniecivil-ecoconstruction.fr/">donnees-equipement.pole-geniecivil-ecoconstruction.fr</a>.<br />
    Deux niveaux d&#145;acc&egrave;s diff&eacute;rents sont pr&eacute;vus :<br />
    - pour tout internaute, un acc&egrave;s limit&eacute; &agrave; une partie des informations ;<br />
    - pour les membres des laboratoires du r&eacute;seau R2GC disposant de codes<br />
    d&#145;identification, un acc&egrave;s &agrave l&#145;int&eacute;gralit&eacute; des donn&eacute;es.<br />
    Vos codes d&#145;identification, modifiables en vous connectant &agrave; la base de donn&eacute;es,<br />
    sont les suivants : <br />
    <ul>
      <li>identifiant : <%= @user.login %></li>
      <li>mot de passe : <%= @password %></li>
    </ul>
    - statut (utilisateur, correspondant, mod&eacute;rateur) : <br />
    Vous trouverez dans les deux documents joints à ce mail : <br />
    <ul>
      <li>des informations compl&eacute;mentaires sur la base de donn&eacute;es et sa gestion,</li>
      <li>la liste des gestionnaires (correspondants et mod&eacute;rateurs). </li>
    </ul>
    Nous remercions vivement tous les personnels des laboratoires qui nous nous ont <br />
    aid&eacute;s &agrave; cr&eacute;er cette base de donn&eacute;es et nous esp&eacute;rons que cet outil facilitera vos <br />
    recherches d&#145;&eacute;quipements. <br /> <br />
    Bien cordialement<br /> <br />
    Le P&ocirc;le PGCE
  
  </div>
  <div style="background-color:#115673;color:#fff;text-align:center;font-size:10px;width:520px;margin:auto;">
    POLE GENIE CIVIL ECOCONSTRUCTION <br /> 16 quai E.Renaud - BP 90517 - 44105 Nantes cedex 4 - +33 (0)2 72 56 80 51 - <a mailto="contact@pole-gce.fr">contact@pole-gce.fr</a>
  </div>
  
</body>

</html>
