<div class="help">
<%= link_to "#{image_tag('/images/pgce/picto_pdf.png')} Téléchargez l'aide au format PDF", download_admin_helps_path(:to_format => "pdf"), :target => "_blank" %><br /><br />
<%= link_to "#{image_tag('/images/pgce/picto_doc.png')} Téléchargez l'aide au format Word", download_admin_helps_path(:to_format => "doc"), :target => "_blank" %>
</div>