<div class="outset">
  <table class="index">
    <thead>
      <tr>
        <th>Nom</th>
        <th></th>
      </tr>
    </thead>
    <tbody><%  @r2gc_managers.each do |r2gc_manager| %>
        <tr>
          <td><%= link_to r2gc_manager.name, edit_admin_r2gc_manager_path(r2gc_manager) %></td>
          <td><%= link_to image('remove', :alt => 'supprimer')+"Supprimer", admin_r2gc_manager_path(r2gc_manager), :method => :delete, :confirm => "Etes-vous sûr de vouloir supprimer le modérateur #{r2gc_manager.name} ?" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="actions">
  <ul>
    <li><%= link_to "Nouveau Modérateur", new_admin_r2gc_manager_path() %></li>
  </ul>
</div>
