<table id="table_form">
  <tr>
    <td><label>Nom *</label></td>
    <td><%= f.text_field :last_name %></td>
  </tr>
  <tr>
    <td><label>Prénom *</label></td>
    <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <td><label>Laboratoire *</label></td>
    <td><%= f.select :first_name, Laboratory.all.collect{|l| [l.name, l.id]}, :include_blank => true %></td>
  </tr> 
  <tr>
    <td><label>Email *</label></td>
    <td><%= f.text_field :email %></td>
  </tr>
  
</table>


