<div class="outset">
  <table class="index">
    <thead>
      <tr>
        <th>Nom</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @r2gc_users.each do |r2gc_user| %>
        <tr>
          <td><%= link_to r2gc_user.name, edit_admin_r2gc_user_path(r2gc_user) %></td>
         <td><%= link_to image('remove', :alt => 'supprimer')+"Supprimer", admin_r2gc_user_path(r2gc_user), :method => :delete, :confirm => "Etes-vous sûr de vouloir supprimer l'utilisateur #{r2gc_user.name} ?" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="actions">
  <ul>
    <li><%= link_to "Nouvel Utilisateur laboratoire", new_admin_r2gc_user_path() %></li>
  </ul>
</div>
