<div class="outset">
  <table class="index">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Modifier</th>
      </tr>
    </thead>
    <tbody>
      <% @laboratories.each do |laboratory| %>
        <tr>
          <td><%= link_to laboratory.name, edit_admin_laboratory_path(laboratory) %></td>
          <td><%= link_to image('remove', :alt => 'supprimer laboratoire')+"Supprimer", admin_laboratory_path(laboratory), :method => :delete, :confirm => "Etes-vous sûr de vouloir supprimer ce laboratoire ? Les entités de recherche et les sous entités seront supprimées, les correspondants en seront détachés." %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="actions">
  <ul>
    <li><%= link_to "Nouveau laboratoire", new_admin_laboratory_path() %></li>
  </ul>
</div>
