<table id="table_form">
  <tr>
    <td><label>Type</label></td>
    <td><label><%= f.select :tool_type, [["Moyen d'essai", "TestEngine"],["Moyen de mesure et d'analyse", "MeasuringEngine"],["Logiciel", "Software"],["Machine outil", "ToolEngine"]]%></label></td>
  </tr>
  <tr>
    <td><label>Nom</label></td>
    <td><label><%= f.text_field :name%></label></td>
  </tr>

</table>

