<div class="outset">
  <table class="index">
    <thead>
      <tr>        
        <th>Sous type</th>
        <th>Type</th>
        <th>Modifier</th>
      </tr>
    </thead>
    <tbody>
      <% @tool_subtypes.each do |subtype| %>
        <tr>          
          <td><%= link_to subtype.name, edit_admin_tool_subtype_path(subtype) %></td>
          <td><% subtype =   case subtype.tool_type
                      when "TestEngine" : "Moyen d'essai"
                      when "ToolEngine" : "Machine outil"
                      when "MeasuringEngine" : "Moyen de mesure et d'analyse"
                      when "Software" : "Logiciel"

          end %><%= subtype %></td>
 
          <td><%= link_to image('remove', :alt => 'supprimer sous type')+"Supprimer", admin_tool_subtype_path(subtype.id), :method => :delete, :confirm => "Etes-vous sûr de vouloir supprimer ce sous type ?" %></td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="actions">
  <ul>
    <li><%= link_to "Nouveau sous type", new_admin_tool_subtype_path() %></li>
  </ul>
</div>
