<h1>Nouveau sous type</h1>
<% form_for([:admin, @tool_subtype], :html => {:multipart => true}) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p class="buttons">
    <%= submit_tag "Enregistrer", :class => "button" %>
  </p>
<% end %>