<td class="label_td"><label>Equipement liés</label></td>
    <td>      
      <%= select_tag "tool_engine_linked_tools", options_for_select((@laboratory ? @laboratory.tools.collect{|c| ["#{c.main_correspondent ? c.name+' - '+c.main_correspondent.name : c.name}", c.id]}<<["- Aucun -",""] : Tool.all.collect{|c| ["#{c.main_correspondent ? c.name+' - '+c.main_correspondent.name : c.name}", c.id]}<<["- Aucun -",""]).sort),{:multiple => true} %>
</td>



    