<div class="outset">
  <table class="index">
    <thead>
      <tr>
        <th>Nom</th>       
        <th>Sous type</th>
        <th>Modifier</th>
      </tr>
    </thead>
    <tbody>
      <% @tools.each do |tool| %>
      <% if current_user.can_update_tool?(tool) %>
        <tr id="tool<%= tool.id%>">
           <%= render :partial => "show", :locals => {:tool => tool} %>
        </tr>
<% end %>
      <% end %>
    </tbody>
  </table>
</div>




<div id="actions">
  <ul>
    <li><%= link_to "Nouvelle machine outil", new_admin_tool_engine_path() %></li>
  
  </ul>
</div>


