<h1>Nouvelle machine outil</h1>
<% form_for([:admin, @tool_engine]) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p class="buttons">
    <%= submit_tag "Enregistrer", :class => "button" %>
  </p>
<% end %>