<h1>Nouvel utilisateur</h1>
<% semantic_form_for([:admin, @consumer]) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p class="buttons">
    <%= submit_tag "Enregistrer", :class => "button" %>
  </p>
<% end %>