<h1>Bienvenue sur la base de données équipements des laboratoires de génie civil de la région</h1>

<div class="help_front">
  <%= link_to "Téléchargez l'aide au format PDF", download_helps_path(:to_format => "pdf"), :class => "pdf_help" %><br /><br />
  <br />
  <%= link_to "Téléchargez l'aide au format Word", download_helps_path(:to_format => "doc"), :class => "doc_help" %>
</div>
