<tr>
  <td class="label"><label>Sous type : </label></td>
  <td><%= f.select :tool_subtype_id_equals, ToolSubtype.all.collect {|s| [ s.name, "#{s.id}" ] }, {:include_blank => true, :selected => params[:search] ? "#{params[:search][:tool_subtype_id_equals]}" : nil}, :class => "select_refine_search" %></td>
</tr>
<tr>
  <td class="label"><label>Organisme : </label></td>
  <td><%= f.select :agency_id_equals, Agency.all.collect {|s| [ s.name, "#{s.id}" ] }, {:include_blank => true, :selected => params[:search] ? "#{params[:search][:agency_id_equals]}" : nil}, :class => "select_refine_search" %></td>
</tr>
<tr>
  <td class="label"><label>Entité de recherche : </label></td>
  <td><%= f.select :correspondents_teams_id_equals, Team.all.collect {|c| [ c.name, "#{c.id}"] }, {:include_blank => true, :selected => params[:search] ? "#{params[:search][:correspondents_teams_id_equals]}" : nil}, :class => "select_refine_search" %></td>
</tr>
<tr>
  <td class="label"><label>Marque/Constructeur : </label></td>
  <td><%= f.select :brand_equals, Team.all.collect {|a| [ a.name, a.name ] }, {:include_blank => true, :selected => params[:search] ? params[:search][:brand_equals] : nil}, :class => "select_refine_search" %></td>
</tr>       