<h1>Nouvelle condition d'utilisation
<% case @use_condition.tool_type
when "tool" : %> MO
<% when "other" : %> IM-ME


<% end %>
</h1>
<% form_for([:admin, @use_condition]) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p class="buttons">
    <%= submit_tag "Enregistrer", :class => "button" %>
  </p>
<% end %>