<% if correspondents %>
  <ul class="correspondents_list">
    <% correspondents.each_with_index do |correspondent, i| %>    
      <li>
        <a href="#" class="correspondent_tooltip" name ="<%=correspondent.comments %>">
          <span class="correspondent_name"><%= correspondent.name %></span><br/>
          <% if correspondent.email %>
             Email : <%= mail_to correspondent.email,correspondent.email %><br/>
          <% end %>
          <% if correspondent.phone_number %>
              Tél. : <%= correspondent.phone_number %><br/>
         <% end %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
<div style="clear:both"></div>

