<td class="label_td"><label>Equipement liés</label></td>
    <td>      
      <%= select_tag "software[linked_tools]", options_for_select(
        ((@laboratory ? @laboratory.tools.collect{|c| ["#{c.main_correspondent ? c.name+' - '+c.main_correspondent.name : c.name}", c.id]}<<["- Aucun -",""] : Tool.all.collect{|c| ["#{c.main_correspondent ? c.name+' - '+c.main_correspondent.name : c.name}", c.id]}<<["- Aucun -",""]).sort),
      (@software ? @software.relations_from.collect(&:tool_to_id)+@software.relations_to.collect(&:tool_from_id).flatten.uniq : nil)), :multiple => true %>
      

</td>



    