<td class="label_td"><label>Correspondant principal</label></td>
    <td>
      <%= select_tag "software[main_correspondent_id]", options_for_select(
        (@laboratory ? @laboratory.correspondents.collect{|c| [c.name, c.id]}<<["- Aucun -",""] : User.correspondents.collect{|c| [c.name, c.id]}<<["- Aucun -",""]).sort,
     @software ? @software.main_correspondent : nil
      ) %>
</td>

