<h1>Edition du logiciel <%= @software.name %></h1>
<% form_for([:admin, @software]) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p class="buttons">
    <%= submit_tag "Enregistrer", :class => "button" %>
  </p>
<% end %>