<h1>Edition de l'équipe <%= @team.name %></h1>
<% form_for([:admin, @team]) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p class="buttons">
    <%= submit_tag "Enregistrer", :class => "button" %>
  </p>
<% end %>