<h1>Nouvelle calibration</h1>
<% form_for([:admin, @calibration], :html => {:multipart => true}) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p class="buttons">
    <%= submit_tag "Enregistrer", :class => "button" %>
     ou <%= link_to "Annuler", :back %>
  </p>
<% end %>